*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: white;
}
i{
    color: white;
}
/* HEADER */
header{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
}

header span{
    margin: 5px 5px 0px;
    padding: 3px;
    border-radius: 5px;
    background-color: gray;
    height: min-content;
    width: max-content;
    font-size: 12.5px;
}

/* MAIN */
main{
    height: calc(100vh - 160px);
    background-color: black;
    padding: 0px 70px 10px;
}
.container{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: calc(98% / 7);
    height: calc(90% / 5);
    background-image: url("https://picsum.photos/246/146");
}
.container span{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: gray;
    font-size: 13px;
    padding: 3px;
    font-size: 12px;
    color: white;
}

/* FOOTER */
footer{
    height: 100px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}
/* FOOTER COMMON */
footer div{
    height: 50%;
    font-size: 11px;
}
footer ul{
    display: flex;
}
footer li{
    list-style-type: none;
}
footer a{
    height: 100%;
    display: inline-block;
    padding: 7px;
    text-align: center;
    line-height: 20px;
}
.angle-up{
    width: 10px;
    line-height: 33px;
    font-size: 8px;
}

/* CENTER-footer */

#green{
    color: yellowgreen;
}

/* RIGHT-footer */
.right-footer{
    background-color: #4a4a4a;
    color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}
